
.vagrant
config.rb
.ssh/
ansible/inventory.yml
vagrant/vagrant-inventory.yml
.DS_Store
files-ssl/

# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
# session
Session.vim
# temporary
.netrwhist
*~

.bash*
.gitconfig
.sudo_as_admin_successful
.profile
.ansible*
.viminfo
*.retry
