FLANNELD_IFACE={{ machine_ip }}
FLANNELD_ETCD_ENDPOINTS={{ etcd_endpoints }}
FLANNELD_ETCD_CAFILE=/etc/ssl/etcd/{{ kube_ca_cert | basename }}
FLANNELD_ETCD_CERTFILE=/etc/ssl/etcd/{{ kube_systemAccount_cert | basename }}
FLANNELD_ETCD_KEYFILE=/etc/ssl/etcd/{{ kube_systemAccount_key | basename }}
