
apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: {{ docker_hyperkube }}
    command:
    - /hyperkube
    - controller-manager
    - --address=0.0.0.0
    - --cluster-name=kubernetes
    - --kubeconfig={{ kube_cluster_config }}
    - --leader-elect=true
    - --port=10252
    - --root-ca-file={{ kube_ca_cert }}                                   # will be included in service account's token secret
    - --service-account-private-key-file={{ serviceAccountTokens_key }}   # filename containing a  key used to sign service account tokens
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 1
    volumeMounts:
    - mountPath: {{ kube_certs_dir }}
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: {{ kube_ca_cert | dirname }}
      name: ssl-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: {{ kube_certs_dir }}
    name: ssl-certs-kubernetes
  - hostPath:
      path: {{ kube_ca_cert | dirname }}
    name: ssl-certs-host

