
apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-apiserver
    image: {{ docker_hyperkube }}
    command:
    - /hyperkube
    - apiserver
    - --admission-control=AlwaysAdmit
    - --advertise-address={{ machine_ip }}
    - --allow-privileged=true
    - --apiserver-count={{ groups['kube-masters'] | length }}
    - --authorization-mode=AlwaysAllow
    - --bind-address=0.0.0.0    
    - --client-ca-file={{ kube_ca_cert }}
    - --etcd-cafile={{ kube_ca_cert }}
    - --etcd-certfile={{ kube_systemAccount_cert }}
    - --etcd-keyfile={{ kube_systemAccount_key }}
#    - --etcd-prefix=/registry
    - --etcd-quorum-read=false
    - --etcd-servers={{ etcd_endpoints }}
    - --insecure-bind-address=127.0.0.1
    - --insecure-port=8080
        #--kubelet-certificate-authority="": Path to a cert. file for the certificate authority.
        #--kubelet-client-certificate="": Path to a client cert file for TLS.
        #--kubelet-client-key="": Path to a client key file for TLS.
        #--kubelet-https[=true]: Use https for kubelet connections
        #--kubelet-timeout=5s: Timeout for kubelet operations
        #--kubernetes-service-node-port=0: If non-zero, the Kubernetes master service (which apiserver creates/maintains) will be of type NodePort, using this as the value of the port. If zero, the Kubernetes master service will be of type ClusterIP.
    - --secure-port=443   
        #- --service-account-key-file={{ apiServer_tls_key }}
    - --service-account-lookup=false
    - --service-cluster-ip-range={{ kube_services_network_block }}
    - --tls-cert-file={{ apiServer_tls_cert }}
    - --tls-private-key-file={{ apiServer_tls_key }}
    - --runtime-config=extensions/v1beta1=true,extensions/v1beta1/thirdpartyresources=true
    ports:
    - containerPort: 443
      hostPort: 443
      name: https
    - containerPort: 8080
      hostPort: 8080
      name: local
    volumeMounts:
    - mountPath: {{ kube_certs_dir }}
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: {{ kube_ca_cert | dirname }}
      name: ssl-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: {{ kube_certs_dir }}
    name: ssl-certs-kubernetes
  - hostPath:
      path: {{ kube_ca_cert | dirname }}
    name: ssl-certs-host


