
apiVersion: v1
kind: Pod
metadata:
  name: kube-scheduler
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-scheduler
    image: {{ docker_hyperkube }}
    command:
    - /hyperkube
    - scheduler
    - --address=0.0.0.0
    - --leader-elect=true
    - --master=http://127.0.0.1:8080        # Master is local machine
    - --port=10251
    - --scheduler-name=default-scheduler
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10251
      initialDelaySeconds: 15
      timeoutSeconds: 1
