
apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-apiserver
    image: {{ docker_hyperkube }}
    command:
    - /hyperkube
    - apiserver
    - --admission-control=AlwaysAdmit
    - --advertise-address={{ machine_ip }}
    - --allow-privileged=true
    - --apiserver-count=1
    - --authorization-mode=AlwaysAllow
    - --bind-address=0.0.0.0    
    - --client-ca-file={{ kube_ca_cert }}
    - --etcd-cafile={{ kube_ca_cert }}
#    - --etcd-certfile=""
#    - --etcd-keyfile=""
#    - --etcd-prefix=/registry
    - --etcd-quorum-read=false
    - --etcd-servers={{ etcd_endpoints }}
    - --insecure-bind-address=127.0.0.1
#    - --insecure-bind-address=0.0.0.0
    - --insecure-port=8080
    - --kubernetes-service-node-port=0
    - --secure-port=443   
    - --service-account-key-file={{ apiServer_tls_key }}
    - --service-account-lookup=false
    - --service-cluster-ip-range={{ kube_services_network_block }}
    - --tls-cert-file={{ apiServer_tls_cert }}
    - --tls-private-key-file={{ apiServer_tls_key }}
    - --runtime-config=extensions/v1beta1=true,extensions/v1beta1/thirdpartyresources=true
    ports:
    - containerPort: 443
      hostPort: 443
      name: https
    - containerPort: 8080
      hostPort: 8080
      name: local
    volumeMounts:
    - mountPath: {{ kube_certs_dir }}
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: {{ kube_ca_cert | dirname }}
      name: ssl-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: {{ kube_certs_dir }}
    name: ssl-certs-kubernetes
  - hostPath:
      path: {{ kube_ca_cert | dirname }}
    name: ssl-certs-host



