
apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: {{ docker_hyperkube }}
    command:
    - /hyperkube
    - proxy
    - --bind-address=0.0.0.0
    - --healthz-bind-address=127.0.0.1
    - --healthz-port=10249
    - --hostname-override={{ machine_ip }}
    - --kubeconfig={{ kube_cluster_config }}
    - --proxy-mode=iptables
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: {{ kube_ca_cert | dirname }}
      name: ssl-certs-host
      readOnly: true
    - mountPath: {{ kube_certs_dir }}
      name: kube-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: {{ kube_ca_cert | dirname }}
    name: ssl-certs-host
  - hostPath:
      path: {{ kube_certs_dir }}
    name: kube-certs-host



