---

apiVersion: v1
kind: Config
current-context: system-context
contexts:
  - context:
      cluster: system
      namespace: kube-system
      user: system-account
    name: system-context
clusters:
  - cluster:
      certificate-authority: {{ kube_ca_cert }}
      server: {{ master_endpoints }}
    name: system
users:
  - name: system-account
    user:
      client-certificate: {{ kube_systemAccount_cert }}
      client-key: {{ kube_systemAccount_key }}

