---

apiVersion: v1
kind: Config
current-context: system-context
contexts:
  - context:
      cluster: system
      namespace: kube-system
      user: system-account
    name: system-context
clusters:
  - cluster:
      certificate-authority: {{ kube_ca_cert }}
{% if 'kube-masters' in group_names %}
      server: {{ master_endpoint_scheme }}://{{ machine_ip }}:{{ master_endpoint_port }}
{% else %}
      server: {{ master_endpoint_scheme }}://{{ groups['kube-masters'] | first }}:{{ master_endpoint_port }} 
{% endif %}
    name: system
users:
  - name: system-account
    user:
      client-certificate: {{ kube_systemAccount_cert }}
      client-key: {{ kube_systemAccount_key }}

