---

apiVersion: v1
kind: Config
current-context: system-context
contexts:
  - context:
      cluster: system
      namespace: kube-system
      user: admin-account
    name: system-context
  - context:
      cluster: system
      namespace: default
      user: admin-account
    name: default-context
clusters:
  - cluster:
      certificate-authority: {{ remote_kube_ca_cert | default(kube_ca_cert) }}
      #server: {{ master_endpoint_scheme }}://{{ kube_api_service_ip }}:{{ master_endpoint_port }}
      server: {{ master_endpoint_scheme }}://{{ groups['kube-masters'] | first }}:{{ master_endpoint_port }}
    name: system
users:
  - name: admin-account
    user:
      client-certificate: {{ remote_admin_cert | default(kube_clusterAdmin_cert) }}
      client-key: {{ remote_admin_key | default(kube_clusterAdmin_key) }}

