[Service]
Environment="ETCD_INITIAL_CLUSTER={% for h in groups['etcd'] %}{{ h | hash('sha1') }}={{ etcd_endpoint_scheme }}://{{ h }}:2380{% if not loop.last %},{% endif %}{% endfor %}" 
Environment="ETCD_NAME={{ inventory_hostname | hash('sha1') }}"

Environment="ETCD_ADVERTISE_CLIENT_URLS={{ etcd_endpoint_scheme }}://{{ machine_ip }}:2379"
Environment="ETCD_LISTEN_CLIENT_URLS={{ etcd_endpoint_scheme }}://{{ machine_ip }}:2379,http://127.0.0.1:2379"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS={{ etcd_endpoint_scheme }}://{{ machine_ip }}:2380"
Environment="ETCD_LISTEN_PEER_URLS={{ etcd_endpoint_scheme }}://{{ machine_ip }}:2380"

Environment="ETCD_TRUSTED_CA_FILE={{ kube_ca_cert }}"
Environment="ETCD_CERT_FILE={{ etcd_tls_cert }}"
Environment="ETCD_KEY_FILE={{ etcd_tls_key }}"
Environment="ETCD_CLIENT_CERT_AUTH=true"

Environment="ETCD_PEER_TRUSTED_CA_FILE={{ kube_ca_cert }}"
Environment="ETCD_PEER_CERT_FILE={{ etcd_tls_cert }}"
Environment="ETCD_PEER_KEY_FILE={{ etcd_tls_key }}"
Environment="ETCD_PEER_CLIENT_CERT_AUTH=true"
