apiVersion: v1
kind: Config
current-context: system
contexts:
  - name: system
    context:
      cluster: local-cluster
      namespace: kube-system
      #user: core-admin
  - name: default
    context:
      cluster: local-cluster
      namespace: default
      #user: core-admin
clusters:
  - name: local-cluster
    cluster:
      server: {{ master_endpoints }}
#users:
#  - name: core-admin
#    user:
#      client-certificate: ssl/admin.pem
#      client-key: ssl/admin-key.pem
