
[Unit]
Description=Kubernetes Kubelet Master
Documentation=http://kubernetes.io/docs/admin/kubelet
After=flanneld.service
Requires=flanneld.service

[Service]
ExecStartPre=/usr/bin/mkdir -p {{ kube_manifests_dir }}

# NOTES:
# without --require-kubeconfig then --api-servers is always required even if --kubeconfig is defined

ExecStart=/opt/bin/kubelet \
  --address=0.0.0.0 \
  --allow-privileged=true \
  --cadvisor-port=4194 \
  --cluster-dns={{ kube_dns_service_ip }} \
  --cluster-domain={{ kube_cluster_domain }} \
  --config={{ kube_manifests_dir }} \
  --file-check-frequency=20s \
  --healthz-bind-address=127.0.0.1 \
  --healthz-port=10248 \
#  --hostname-override={{ machine_ip }} \
  --http-check-frequency=20s \
  --image-gc-high-threshold=90 \
  --image-gc-low-threshold=80 \
  --kubeconfig={{ kube_cluster_config }} \
  --low-diskspace-threshold-mb=256 \
  --minimum-container-ttl-duration=1m0s \
  --minimum-image-ttl-duration=2m0s \
  --node-ip={{ machine_ip }} \
  --port=10250 \
  --read-only-port=10255 \
  --register-node=true \
  --register-schedulable=true \
  --require-kubeconfig

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target




